/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
}

.three ul {
    display: flex;
    flex: 2;
}

.three li {
    display: flex;
    flex: auto;
}

.Edhub {
    display: flex;
    flex: 4;
    justify-content: flex-end;
}

.four {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;


}

.aFive {
    flex: 1 0 360px;
        /*    !*Minimale breedte 1/3 van 1200 = 400.*/
    /*    Padding is 20px. 2*20px = 40px. Dit kun je vinden in styles.css of dev tools in chrome.*/
    /*    400 - 40 = 360px.*/
    /*    breedte per vlak moet dus 360px als je corrigeert voor padding.*/
    /*     *!*/
}